
.popover-container {
  // height: 100%;
}

.popover {
  height: 100%;
}
.popover-content-container {
  top: 35px;
  display: flex;
  position: absolute;
  z-index: 5;
  flex-direction: column;
  min-width: 60px;
}

.popover-transition-container-enter {
  opacity: 0;
  transform: scale(0.9);
}
.popover-transition-container-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.popover-transition-container-exit {
  opacity: 1;
}
.popover-transition-container-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
