@import "../../global.scss";

.header {
  background: $color-primary;
  color: $color-fourth;
  font-weight: 600;
  position: fixed;
  height: 43px;
  top: 0;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;

    li {
      padding: 0px 50px;
      cursor: pointer;
    }
    li:hover {
      font-size: 17px;
    }
  }

  .header-popover {
    display: none;
    position: fixed;
    right: 0;
    padding: 5px;

    .toggle-menu {
      flex-direction: column;
      width: 100vw;
      margin-right: 0;
      background: #{$color-primary}D7;
      min-height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu-item {
        margin: 10px 0;;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    ul {
      display: none;
    }
    .header-popover {
      display: block;
    }
  }
}
