$color-primary: #61234e;
$color-secondary: #032535;
$color-third: #ff5858;
$color-fourth: #ebfffb;
// $color-primary: #293462;
// $color-secondary: #00818a;
// $color-third: #ec9b3b;
// $color-fourth: #f7be16;
